* {
  margin: 0;
  padding: 0;
}

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(207, 207, 207, 0.658);
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  font-size: 24px;
  margin-top: 20px;
}

.container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 145px;
  margin-bottom: 40px;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.gridContainer {
  display: grid;
  width: 500px;
  height: 500px;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  border-radius: 6px;
  border: 10px solid rgba(207, 207, 207, 0.658);
}

.grid-item {
  background-color: white;
  text-align: center;
}

.sliderContainer p {
  text-align: center;
}

.button {
  padding: 5px 20px;
  background-color: rgba(6, 113, 207, 0.767);
  color: white;
  border-radius: 5px;
  outline: none;
  border: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
}
